body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9c9c9c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
a:visited,a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
a:focus,a:hover{
    text-decoration: none;
    color: #09aa17;
    font-weight: 500;
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: white;
    background-color: red;
    text-decoration: none;
    padding: 5px 10px;
    vertical-align: middle
}
li:nth-of-type(odd) {
    background-color: lightgray;
}
.container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #9c9c9c;
    color: white;
    text-align: center;
    padding: 1em 0;
    border-radius: 5px 5px 0 0;
}

main {
    padding: 2em 0;
}

#contact-form, #contact-list {
    margin-bottom: 2em;
}

#contact-list {
    max-height: 200px; /* Defina a altura máxima */
    overflow-y: auto; /* Adicione a rolagem vertical */
}

h2 {
    color: #4CAF50;
}

label {
    display: block;
    margin-top: 1em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #9c9c9c;
    color: white;
    border-radius: 0 0 5px 5px;
}
